<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App</title>
    <link rel="shortcut icon" href=../../favicon.ico>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script src="../../js/jquery.slim.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <style>
        body{
            width: 100%;
            height: 100%;
            background-color: #eaeaea;
            /*background-image:  url("../../images/57b271d656af5.jpg");
            background-position: center center;
            background-size: cover;
            background-clip: inherit ;
            background-repeat: no-repeat;
            background-attachment: fixed;*/
        }
        a:link{text-decoration:none;    /* 指正常的未被访问过的链接*/}
        a:visited{text-decoration:none; /*指已经访问过的链接*/}
        a:hover{text-decoration:none;/*指鼠标在链接*/}
        a:active{text-decoration:none;/* 指正在点的链接*/}
        img{
            width: 100% !important;
        }
    </style>
</head>
<body>
<div style="height: inherit;">
    <div class="container-fluid">
        <div class="row" >
            <div class="col-sm-12" style="padding-right: 3px;padding-left: 3px;">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-right: 0px;padding-left: 0px;">
                    <a class="navbar-brand" href="/home">小猪猪</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/home">技术分享<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/calligraphy">写写字<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">联系方式</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0" action="" method="get">
                            <input id="wk" class="form-control mr-sm-2" type="search" value="" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="return check(this.form)">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-10" style="padding-top: 20px;padding-right: 3px;padding-left: 3px;">
                <div style="position: relative;background: rgba(248,248,250,.1)/*#f8f8fa*/;border: 1px #fff solid;box-shadow: 0 0 3px #ddd;">
                    <div style="margin: 0 auto; height: 100%; text-align: center;">
                        <div style="height: 100%; text-align: left;">
                            <div style="padding: 30px 30px 30px;  height: 100%; margin: 0 auto;">
                                <h4 style="padding: 50px auto 20px; font-weight: normal; text-align: center; color: #5f676e">{{{data.title}}}</h4>
                                <p style="text-align: center;font-size: 14px; color: rgba(114,114,114,0.87)">{{{data.subTitle}}}</p>
                                <p style="text-align: right;font-size: 14px; color: rgba(114,114,114,0.87)"><span style="padding: 0 6px;color: #017e66;background-color: rgba(1,126,102,0.08); ">{{{data.category.name}}}</span>&nbsp;&nbsp;&nbsp;发布时间：{{{data.created_time}}}&nbsp;&nbsp;&nbsp;发布人：{{{data.creator}}}</p>
                                <div style="padding-top: 30px; border-top: 1px #efefef solid;">
                                    {{{data.content}}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="padding-top: 20px;padding-right: 3px;padding-left: 3px;">
                <div style="background: rgba(248,248,250,.1)/*#f8f8fa*/;border: 1px #fff solid;box-shadow: 0 0 3px #ddd; ">
                    <div style="height: 50px; line-height: 50px; margin-left: 10px; font-size: 18px; border-bottom: 1px #efefef solid;">推荐文章</div>
                    {{#each data.categoryList}}
                        {{#if active}}
                            <a href='/home/category/{{ida}}' style="color: #ffffff;"><div style="height: 50px; line-height: 50px; padding-left: 20px; background: #FFA07A; border-bottom: 1px dashed #fff">
                                {{name}}
                            </div></a>
                        {{else}}
                            <a href='/home/category/{{ida}}' style="color: #5f676e;"><div style="height: 50px; line-height: 50px; padding-left: 20px; background: #f8f8fa;border-bottom: 1px dashed #fff">
                                {{name}}
                            </div></a>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function detail (text) {
        console.log(text);
        $('#detail').html(text)
    }
    let dd = `{{{data.content}}}`;
    /*dd = JSON.stringify(dd);
    dd = JSON.parse(dd);*/
    console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~', typeof dd, dd);
    $('#content').html(dd);
</script>
</html>
