<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App</title>
    <link rel="shortcut icon" href=../../favicon.ico>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script src="../../js/jquery-3.4.1.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <style>
        html{height:100%}
        body{
            width: 100%;
            height: 100%;
            background-color: #eaeaea;
            background-image:  url("../../images/57b271d656af5.jpg");
            background-image: inherit;
            background-position: center center;
            background-size: cover;
            background-clip: inherit ;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        a:link{text-decoration:none;    /* 指正常的未被访问过的链接*/}
        a:visited{text-decoration:none; /*指已经访问过的链接*/}
        a:hover{text-decoration:none;/*指鼠标在链接*/}
        a:active{text-decoration:none;/* 指正在点的链接*/}
        /*banner*/

        .bannerBoxTop{ width: 100%; height: 155px; position: relative; margin:0 auto 0;min-width: 1200px;}
        .bannerBoxTop .slide{ width: 100%; height: 100%; position: absolute; overflow: hidden; z-index: 1; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); left: 0; top:0; }
        .bannerBoxTop .slide:first-child{opacity: 1; -moz-opacity: 1; filter:alpha(opacity=100); }
        .bannerBoxTop .slide img{ position: absolute; z-index: 0; top:0;left:50%; margin-left: -960px; width: 1920px;}
        .bannerBoxTop .layorBox{ width: 100%; height: 100%; position: absolute; z-index: 0;}
        .bannerBoxTop .layorBox:after{ clear: both;}
        .bannerBoxTop .layorBox .lines{ width: 2%; height: 100%; background: #ffffff; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); float: left;}
        .bannerBoxTop .btnList{ width: 300px; height: 12px; position: absolute; bottom: 30px; left: 50%; margin-left: -150px; text-align: center; z-index: 100;}
        .bannerBoxTop .btnList li{ width: 12px; height:12px;
            background: #999999; border: 1px solid #ffffff; display: inline-block; margin: 0 5px; z-index: 100;
            border-radius: 50%; -moz-border-radius: 50%; cursor: pointer; }
        :root .bannerBoxTop .btnList li{ width: 12px; height:12px;
            background: rgba(255,255,255,0.1); border: 2px solid #ffffff; display: inline-block; margin: 0 5px; z-index: 100;
            border-radius: 50%; -moz-border-radius: 50%; cursor: pointer; }
        .bannerBoxTop .btnList li.on{background:#ffffff; }
    </style>
</head>
<body>
<div style="height: inherit;">
    <div class="container-fluid">
        <div class="row" >
            <div class="col-sm-12" style="padding-right: 3px;padding-left: 3px;">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-right: 0px;padding-left: 0px;">
                    <a class="navbar-brand" href="/home">小猪猪</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/home">技术分享<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/calligraphy">写写字<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">联系方式</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0" action="" method="get">
                            <input id="wk" class="form-control mr-sm-2" type="search" value="" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="return check(this.form)">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <div class="bannerBoxTop" id="indexBanner" style="display: none">
            <ul class="btnList">
                <li class="on"></li>
                <li></li>
                <li></li>
            </ul>
            <div class="layorBox">
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="row" >
            <div class="col-sm-2" style="padding-top: 20px;padding-right: 3px;padding-left: 3px;">
                <div style="background: rgba(248,248,250,.1)/*#f8f8fa*/;border: 1px #fff solid;box-shadow: 0 0 3px #ddd; ">
                    <div style="height: 50px; line-height: 50px; margin-left: 10px; font-size: 18px; border-bottom: 1px #efefef solid;">全部分类</div>
                    {{#each data.categoryList}}
                        {{#if active}}
                        <a href='/category/{{ida}}' style="color: #ffffff;"><div style="height: 50px; line-height: 50px; padding-left: 20px; background: #FFA07A; border-bottom: 1px dashed #fff">
                            {{name}}
                        </div></a>
                        {{else}}
                        <a href='/category/{{ida}}' style="color: #5f676e;"><div style="height: 50px; line-height: 50px; padding-left: 20px; background: #f8f8fa;border-bottom: 1px dashed #fff">
                            {{name}}
                        </div></a>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            <div class="col-sm-8" style="padding: 20px 3px 20px; margin-bottom: 30px;">
                <div style="position: relative;background: rgba(248,248,250,.1)/*#f8f8fa*/;border: 1px #fff solid;box-shadow: 0 0 3px #ddd;">
                    <div style="height: 50px; line-height: 50px; margin-left: 20px; font-size: 18px; border-bottom: 1px #d8d8d8 solid;">{{data.title}}</div>
                    <div style="padding: 0 30px 30px;">
                        {{#each data.articleList}}
                            <div style="margin: 30px auto 50px;" onclick="detail(`{{content}}`)">
                                <span style="position: relative; display: inline-block; padding-left: 60px">
                                    <span style="position: absolute; left: 0; top: 2px; width: 35px; height: 35px; font-weight: bold; text-align: center; line-height: 35px; font-size: 18px; color: #fff; background-color: {{tempColor}}">{{@index}}</span>
                                    <div>
                                        <h6 style="font-weight: normal"><a href='/detail/{{ida}}' style="color: #5f676e">{{title}}</a></h6>
                                        <small style="color: rgba(114,114,114,0.97)">{{description}}</small>
                                    </div>
                                </span>
                            </div>
                        {{/each}}
                    </div>
                    {{#if data.isShowPagination}}
                        <nav aria-label="...">
                            <ul class="pagination justify-content-center" id="pagination"></ul>
                        </nav>
                    {{/if}}
                    {{#if msg}}
                        <div style="text-align: center; color: rgba(114,114,114,0.87);">{{msg}}</div>
                    {{/if}}
                </div>
            </div>
            <div class="col-sm-2" style="padding-top: 20px;padding-right: 3px;padding-left: 3px;">
                <div style="background: rgba(248,248,250,.1)/*#f8f8fa*/;border: 1px #fff solid;box-shadow: 0 0 3px #ddd; ">
                    <div style="height: 50px; line-height: 50px; margin-left: 10px; font-size: 18px; border-bottom: 1px #efefef solid;">推荐文章</div>
                    <div>
                        {{#each data.recommendList}}
                            <h6 style="font-weight: normal; padding:0px 10px; text-overflow: ellipsis; text-decoration: underline"><a href='/detail/{{ida}}' style="color: #ff8525">{{title}}</a></h6>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.bootcss.com/crypto-js/3.1.9-1/crypto-js.min.js"></script>
<script>
    const key = CryptoJS.enc.Utf8.parse("U2FsdGVkX1+9qiNsVs+gCDFkG975DX47lUaZ0MTPy3pr149+34ZGgA==");  //十六位十六进制数作为密钥
    const iv = CryptoJS.enc.Utf8.parse('U2FsdGVkX1+IXULGfBMRRRzDt7j6thYAHcoffCX2W0U=');   //十六位十六进制数作为密钥偏移量
    var temp = CryptoJS.DES.encrypt('3', key, { iv: iv, mode: CryptoJS.mode.CBC, padding: CryptoJS.pad.Pkcs7 }).toString();
    temp = CryptoJS.enc.Utf8.parse(temp);
    temp = CryptoJS.enc.Base64.stringify(temp);
    console.log(temp);
    function check (form) {
      console.log(form, '**************');
        let wk = document.getElementById('wk').value;
        console.log(wk);
        if(wk && wk.trim()==='') {
            alert("请输入关键字!");
            // document.getElementById('wk').focus();
            return false;
        }
        wk = wk.trim();
        form.action = `/search/${wk}`;
        form.submit();
        return true;
    }
    detail = (text) =>{
      console.log(text)
      $('#detail').html(text)
    }
    let dd = `{{{data.content.description}}}`;
    /*dd = JSON.stringify(dd);
    dd = JSON.parse(dd);*/
    $('#content').html(dd);
    let P={{{data.P}}} || 0;
    let pageSize={{{data.pageSize}}} || 10;
    let totalCount={{{data.totalCount}}} || 0;
    let baseUrl = window.location.href;
    if(baseUrl.lastIndexOf('?') !==-1) {
        baseUrl = baseUrl.slice(0, baseUrl.lastIndexOf('?'));
    }
    console.log(baseUrl)
    function goTo (v) {
      window.location.href = `${baseUrl}?P=${v}`
    }
    let page = ((Page) => {
      let pageCount = Math.ceil(Page['totalCount'] / Page['pageSize']);
      let $$pageIndex = Number(Page['P']);
      let tempArr = [];
      for(let i= 0; i < pageCount; i++) {
        let actived = "";
        let ariaCurrent = '';
        let spanCurrent = '';
        if(($$pageIndex-1) === i) {
            actived = "page-item active";
            ariaCurrent = `aria-current="page"`;
            spanCurrent = `<span class="sr-only">(current)</span>`
        } else {
            actived = "page-item";
            ariaCurrent = '';
            spanCurrent = '';
        };
        tempArr.push(`<li class="${actived}" ${ariaCurrent}><a class="page-link" href="javascript:void(0)" onclick="goTo(${i+1})">${i+1}${spanCurrent}</a></li>`);
      }
      let isPrevDisabled = '';
      let isNextDisabled = '';
      if(($$pageIndex-1) === 0) {
        isPrevDisabled = "page-item disabled";
      } else {
        isPrevDisabled = "page-item";
      }
      if($$pageIndex === pageCount) {
          isNextDisabled = "page-item disabled";
      } else {
          isNextDisabled = "page-item";
      }
      let j = 5; // 显示分页数项
      let dom = ((t) => {
        let index = 0;
        let end = j;
        if($$pageIndex%j ===0) {
          index = $$pageIndex-(j-1);
          end = $$pageIndex+1
        } else if($$pageIndex > j && $$pageIndex !==pageCount) {
          index = $$pageIndex-(j-1);
          end = $$pageIndex+1
        } else if($$pageIndex ===pageCount) {
          index = $$pageIndex-j;
          end = pageCount
        }
        return t.slice(index, end);
      })(tempArr);
      let prev = `<li class="${isPrevDisabled}"><a class="page-link" href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></li>`;
      let next = `<li class="${isNextDisabled}"><a class="page-link" href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>`;
      $(Page['el']).html(prev+dom.join('')+next);
      $(Page['el']).find('[aria-label="Previous"]').click(() => {
          window.location.href = `${baseUrl}?P=${$$pageIndex-1}`;
      });
      $(Page['el']).find('[aria-label="Next"]').click(() => {
          window.location.href = `${baseUrl}?P=${$$pageIndex+1}`;
      })
    })({
        el: '#pagination',
        P: P,
        pageSize: pageSize,
        totalCount: totalCount
    });
</script>
</html>
